
// Colores

$color-font:#141F35;
$color-principal:#d9faf9;
$color-secundario:#fff;

//Tamaños tipografia 

//Desktop
$titles:45px;
$subtitulo:35px;
$texts:17px;
$texts-lineHeight:24px;
$footer-text:14px;

//Tablet
$titles-tablet:40px;
$texts-tablet:16px;
$texts-lineHeight-tablet:23px;
$footer-text-tablet:14px;

//Mobile
$titles-mobile:35px;
$texts-mobile:15px;
$texts-lineHeight-mobile:22px;
$footer-text-mobile:13px;

