
// Colores

$color-font:#141F35;
$color-principal:#d9faf9;
$color-secundario:#fff;

//Tamaños tipografia 



//Desktop
$desktop:(
    titles:47px,
    subtitulo:35px,
    texts:19px,
    texts-lineHeight:27px,
    footer-text:14px,
);

$titles:map-get($desktop, titles);
$subtitulo:map-get($desktop,subtitulo);
$texts:map-get($desktop, texts);
$texts-lineHeight:map-get($desktop, texts-lineHeight);
$footer-text:map-get($desktop , footer-text );

//Tablet
$tablet:(
    titles-tablet:40px,
    texts-tablet:18px,
    texts-lineHeight-tablet:24px,
    footer-text-tablet:14px,
);

$titles-tablet:map-get($tablet, titles-tablet );
$texts-tablet:map-get($tablet, texts-tablet );
$texts-lineHeight-tablet:map-get($tablet, texts-lineHeight-tablet );
$footer-text-tablet:map-get($tablet, footer-text-tablet );

//Mobile

$mobile:(
    titles-mobile:35px,
    texts-mobile:16px,
    texts-lineHeight-mobile:23px,
    footer-text-mobile:13px,
);

$titles-mobile:map-get($mobile, titles-mobile);
$texts-mobile:map-get($mobile, texts-mobile);
$texts-lineHeight-mobile:map-get($mobile, texts-lineHeight-mobile);
$footer-text-mobile:map-get($mobile , footer-text-mobile);
//Mixins

@mixin titles ($margin:30px, $align:left){
    margin-left: $margin;
    text-align: $align;
    font-size: $titles;
    font-weight: 700;
}

@mixin subtitulo {
    font-weight: 700;
    font-size: $subtitulo;
    text-align: left;
}

@mixin texts {
    font-weight: 400;
    font-size: $texts;
    line-height: $texts-lineHeight;
}