
// Colores

$color-font:#141F35;
$color-principal:#d9faf9;
$color-secundario:#fff;

//Tamaños tipografia 



//Desktop
$desktop:(
    titles:2.9rem,
    subtitulo:2.2rem,
    texts:1.2rem,
    texts-lineHeight:1.7rem,
    footer-text:0.9rem,
);

$titles:map-get($desktop, titles);
$subtitulo:map-get($desktop,subtitulo);
$texts:map-get($desktop, texts);
$texts-lineHeight:map-get($desktop, texts-lineHeight);
$footer-text:map-get($desktop , footer-text );

//Tablet
$tablet:(
    titles-tablet:2.5rem,
    texts-tablet:1.12rem,
    texts-lineHeight-tablet:1.5rem,
    footer-text-tablet:0.9rem,
);

$titles-tablet:map-get($tablet, titles-tablet );
$texts-tablet:map-get($tablet, texts-tablet );
$texts-lineHeight-tablet:map-get($tablet, texts-lineHeight-tablet );
$footer-text-tablet:map-get($tablet, footer-text-tablet );

//Mobile

$mobile:(
    titles-mobile:2.2rem,
    texts-mobile:1rem,
    texts-lineHeight-mobile:1.45rem,
    footer-text-mobile:0.8rem,
);

$titles-mobile:map-get($mobile, titles-mobile);
$texts-mobile:map-get($mobile, texts-mobile);
$texts-lineHeight-mobile:map-get($mobile, texts-lineHeight-mobile);
$footer-text-mobile:map-get($mobile , footer-text-mobile);
//Mixins

@mixin titles ($margin:1.87rem, $align:left){
    margin-left: $margin;
    text-align: $align;
    font-size: $titles;
    font-weight: 700;
}

@mixin subtitulo {
    font-weight: 700;
    font-size: $subtitulo;
    text-align: left;
}

@mixin texts {
    font-weight: 400;
    font-size: $texts;
    line-height: $texts-lineHeight;
}